<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Loading_0000</key>
      <dict>
        <key>frame</key>
        <string>{{270,1549},{33,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{33.00,33.00}</string>
      </dict>
      <key>Loading_0001</key>
      <dict>
        <key>frame</key>
        <string>{{318,1549},{33,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{33.00,33.00}</string>
      </dict>
      <key>Loading_0002</key>
      <dict>
        <key>frame</key>
        <string>{{366,1549},{33,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{33.00,33.00}</string>
      </dict>
      <key>Loading_0003</key>
      <dict>
        <key>frame</key>
        <string>{{0,1549},{255,110}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{255.00,110.00}</string>
      </dict>
      <key>Loading_0004</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{2051,1534}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{2051.00,1534.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>12</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>Loading.png</string>
      <key>realTextureFileName</key>
      <string>Loading.png</string>
      <key>textureFileName</key>
      <string>Loading.png</string>
      <key>size</key>
      <string>{2154,1736}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <integer>0</integer>
        <key>anchorY</key>
        <integer>1</integer>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <integer>0</integer>
        <key>anchorY</key>
        <integer>1</integer>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <integer>0</integer>
        <key>anchorY</key>
        <integer>1</integer>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50078</real>
        <key>anchorY</key>
        <real>0.49636</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <integer>0</integer>
        <key>anchorY</key>
        <integer>1</integer>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>loading</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>29</integer>
        <key>rect</key>
        <string>0,0,1600.00,1197.50</string>
        <key>anchorX</key>
        <integer>0</integer>
        <key>anchorY</key>
        <integer>1</integer>
        <key>labels</key>
        <dict>
          <key>start</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>-1</integer>
          </dict>
          <key>loop</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>28</integer>
          </dict>
        </dict>
        <key>children</key>
        <dict>
          <key>i2356</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>null|||||||||758.30,510.50,0.00,0.32120,0.32120,1.00,5,0.00,0.00|754.30,514.20,0.00,0.54504,0.54504,1.00,5,0.00,0.00|751.20,517.30,0.00,0.72894,0.72894,1.00,5,0.00,0.00|null||||||||||||||||</string>
          </dict>
          <key>i2348</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>872.20,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00||880.70,513.90,0.00,0.53094,0.53094,1.00,4,0.00,0.00|883.70,510.80,0.00,0.34763,0.34763,1.00,4,0.00,0.00|null||||||||||||||||||||||||</string>
          </dict>
          <key>i2332</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>810.20,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00||838.20,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|850.20,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|858.60,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|864.20,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|868.40,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|871.10,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|872.60,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|877.80,517.10,0.00,0.71515,0.71515,1.00,3,0.00,0.00|882.10,512.60,0.00,0.44208,0.44208,1.00,3,0.00,0.00|884.30,510.30,0.00,0.30441,0.30441,1.00,3,0.00,0.00|798.50,521.80,0.00,0.99857,0.99857,1.00,5,0.00,0.00|803.60,521.80,0.00,0.99857,0.99857,1.00,5,0.00,0.00|null||||||||||||||</string>
          </dict>
          <key>i2336</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>746.70,521.90,0.00,1.00000,1.00000,1.00,5,0.00,0.00||774.70,521.90,0.00,1.00000,1.00000,1.00,5,0.00,0.00|786.70,521.90,0.00,1.00000,1.00000,1.00,5,0.00,0.00|795.10,521.90,0.00,1.00000,1.00000,1.00,5,0.00,0.00|800.70,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|805.50,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|808.20,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|810.00,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|830.40,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|845.10,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|854.10,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|null||||||||||||||||</string>
          </dict>
          <key>i2358</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||||||||||||861.30,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|866.40,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|746.70,521.90,0.00,1.00000,1.00000,1.00,5,0.00,0.00||774.70,521.90,0.00,1.00000,1.00000,1.00,5,0.00,0.00|786.70,521.90,0.00,1.00000,1.00000,1.00,5,0.00,0.00|795.10,521.90,0.00,1.00000,1.00000,1.00,5,0.00,0.00|800.70,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|805.50,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|808.20,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|810.00,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|830.40,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|845.10,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|854.10,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|null||</string>
          </dict>
          <key>i2370</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||758.30,510.50,0.00,0.32120,0.32120,1.00,5,0.00,0.00|754.30,514.20,0.00,0.54504,0.54504,1.00,5,0.00,0.00|751.20,517.30,0.00,0.72894,0.72894,1.00,5,0.00,0.00|null||</string>
          </dict>
          <key>i2209</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>823.90,507.10,0.00,1.00000,1.00000,1.00,1,0.00,0.00||||||||||||||||||||||||||||</string>
          </dict>
          <key>loadingText</key>
          <dict>
            <key>class</key>
            <string>loadingTextSymbol</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>344.30,695.20,0.00,1.00000,1.00000,1.00,2,0.00,0.00||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2362</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||||||||||||||810.20,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00||838.20,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|850.20,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|858.60,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|864.20,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|868.40,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|871.10,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|872.60,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|877.80,517.10,0.00,0.71515,0.71515,1.00,3,0.00,0.00|882.10,512.60,0.00,0.44208,0.44208,1.00,3,0.00,0.00|884.30,510.30,0.00,0.30441,0.30441,1.00,3,0.00,0.00|798.50,521.80,0.00,0.99857,0.99857,1.00,5,0.00,0.00|803.60,521.80,0.00,0.99857,0.99857,1.00,5,0.00,0.00|807.20,521.80,0.00,0.99857,0.99857,1.00,5,0.00,0.00</string>
          </dict>
          <key>i2372</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||861.30,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|866.40,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|870.00,521.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i2354</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||||887.90,508.00,0.00,0.17804,0.17804,1.00,3,0.00,0.00|null|||||||||||||||||||||||</string>
          </dict>
          <key>i2207</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.10,1196.50,0.00,0.78006,0.78006,1.00,0,0.00,0.00||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2368</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||||||||||||||||||887.90,508.00,0.00,0.17804,0.17804,1.00,3,0.00,0.00|null|||||||||</string>
          </dict>
          <key>i2366</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>null||||||||||||||||756.20,512.80,0.00,0.45453,0.45453,1.00,6,0.00,0.00|753.00,516.00,0.00,0.64734,0.64734,1.00,6,0.00,0.00|750.20,518.60,0.00,0.80618,0.80618,1.00,6,0.00,0.00|748.20,520.20,0.00,0.90073,0.90073,1.00,5,0.00,0.00|747.80,521.20,0.00,0.96227,0.96227,1.00,5,0.00,0.00|747.20,521.80,0.00,0.99857,0.99857,1.00,5,0.00,0.00||767.60,521.80,0.00,0.99857,0.99857,1.00,6,0.00,0.00|782.30,521.80,0.00,0.99857,0.99857,1.00,6,0.00,0.00|791.30,521.80,0.00,0.99857,0.99857,1.00,6,0.00,0.00|null||</string>
          </dict>
          <key>i2374</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||749.80,519.00,0.00,0.82993,0.82993,1.00,4,0.00,0.00|748.80,520.00,0.00,0.89102,0.89102,1.00,4,0.00,0.00|747.50,521.90,0.00,1.00171,1.00171,1.00,4,0.00,0.00</string>
          </dict>
          <key>i2352</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>null||756.20,512.80,0.00,0.45453,0.45453,1.00,6,0.00,0.00|753.00,516.00,0.00,0.64734,0.64734,1.00,6,0.00,0.00|750.20,518.60,0.00,0.80618,0.80618,1.00,6,0.00,0.00|748.20,520.20,0.00,0.90073,0.90073,1.00,5,0.00,0.00|747.80,521.20,0.00,0.96227,0.96227,1.00,5,0.00,0.00|747.20,521.80,0.00,0.99857,0.99857,1.00,5,0.00,0.00||767.60,521.80,0.00,0.99857,0.99857,1.00,6,0.00,0.00|782.30,521.80,0.00,0.99857,0.99857,1.00,6,0.00,0.00|791.30,521.80,0.00,0.99857,0.99857,1.00,6,0.00,0.00|null||||||||||||||||</string>
          </dict>
          <key>i2360</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>null||||||||||||749.80,519.00,0.00,0.82993,0.82993,1.00,4,0.00,0.00|748.80,520.00,0.00,0.89102,0.89102,1.00,4,0.00,0.00|null||||||||||||||</string>
          </dict>
          <key>i2364</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>null||||||||||||||872.20,521.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00||880.70,513.90,0.00,0.53094,0.53094,1.00,4,0.00,0.00|883.70,510.80,0.00,0.34763,0.34763,1.00,4,0.00,0.00|null||||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>loadingTextSymbol</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,943.30,118.10</string>
        <key>anchorX</key>
        <integer>0</integer>
        <key>anchorY</key>
        <integer>1</integer>
        <key>children</key>
        <dict>
          <key>text</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,118.10,0.00,1.45128,1.45128,1.00,0,0.00,0.00,PetitaBold,22,#FFFFFF,center,472,59</string>
            <key>text</key>
            <string>Loading....Please wait</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>