<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Loading_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,828},{17,17}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{17.00,17.00}</string>
      </dict>
      <key>Loading_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,847},{17,17}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{17.00,17.00}</string>
      </dict>
      <key>Loading_0002</key>
      <dict>
        <key>frame</key>
        <string>{{20,828},{17,17}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{17.00,17.00}</string>
      </dict>
      <key>Loading_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,770},{127,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{127.00,56.00}</string>
      </dict>
      <key>Loading_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{1026,767}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{1026.00,767.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>12</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>Loading.png</string>
      <key>realTextureFileName</key>
      <string>Loading.png</string>
      <key>textureFileName</key>
      <string>Loading.png</string>
      <key>size</key>
      <string>{1028,870}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49882</real>
        <key>anchorY</key>
        <real>0.49643</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>loading</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>29</integer>
        <key>rect</key>
        <string>0,0,800.00,598.75</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>labels</key>
        <dict>
          <key>start</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>-1</integer>
          </dict>
          <key>loop</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>28</integer>
          </dict>
        </dict>
        <key>children</key>
        <dict>
          <key>i1856</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>405.10,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00||419.10,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|425.10,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|429.30,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|432.10,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|434.20,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|435.55,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|436.30,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|438.90,258.55,0.00,0.71515,0.71515,1.00,3,0.00,0.00|441.05,256.30,0.00,0.44208,0.44208,1.00,3,0.00,0.00|442.15,255.15,0.00,0.30441,0.30441,1.00,3,0.00,0.00|399.25,260.90,0.00,0.99857,0.99857,1.00,5,0.00,0.00|401.80,260.90,0.00,0.99857,0.99857,1.00,5,0.00,0.00|null||||||||||||||</string>
          </dict>
          <key>i1775</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>411.95,253.55,0.00,1.00000,1.00000,1.00,1,0.00,0.00||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1874</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>null||||||||||||||436.10,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00||440.35,256.95,0.00,0.53094,0.53094,1.00,4,0.00,0.00|441.85,255.40,0.00,0.34763,0.34763,1.00,4,0.00,0.00|null||||||||||</string>
          </dict>
          <key>i1870</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>null||||||||||||374.90,259.50,0.00,0.82993,0.82993,1.00,4,0.00,0.00|374.40,260.00,0.00,0.89102,0.89102,1.00,4,0.00,0.00|null||||||||||||||</string>
          </dict>
          <key>i1773</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.05,598.25,0.00,0.78006,0.78006,1.00,0,0.00,0.00||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1880</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||379.15,255.25,0.00,0.32120,0.32120,1.00,5,0.00,0.00|377.15,257.10,0.00,0.54504,0.54504,1.00,5,0.00,0.00|375.60,258.65,0.00,0.72894,0.72894,1.00,5,0.00,0.00|null||</string>
          </dict>
          <key>loadingText</key>
          <dict>
            <key>class</key>
            <string>loadingTextSymbol</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>172.15,347.60,0.00,1.00000,1.00000,1.00,2,0.00,0.00||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1860</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>373.35,260.95,0.00,1.00000,1.00000,1.00,5,0.00,0.00||387.35,260.95,0.00,1.00000,1.00000,1.00,5,0.00,0.00|393.35,260.95,0.00,1.00000,1.00000,1.00,5,0.00,0.00|397.55,260.95,0.00,1.00000,1.00000,1.00,5,0.00,0.00|400.35,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|402.75,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|404.10,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|405.00,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|415.20,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|422.55,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|427.05,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|null||||||||||||||||</string>
          </dict>
          <key>i1866</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>null|||||||||379.15,255.25,0.00,0.32120,0.32120,1.00,5,0.00,0.00|377.15,257.10,0.00,0.54504,0.54504,1.00,5,0.00,0.00|375.60,258.65,0.00,0.72894,0.72894,1.00,5,0.00,0.00|null||||||||||||||||</string>
          </dict>
          <key>i1878</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||||||||||||||||||443.95,254.00,0.00,0.17804,0.17804,1.00,3,0.00,0.00|null|||||||||</string>
          </dict>
          <key>i1884</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||374.90,259.50,0.00,0.82993,0.82993,1.00,4,0.00,0.00|374.40,260.00,0.00,0.89102,0.89102,1.00,4,0.00,0.00|373.75,260.95,0.00,1.00171,1.00171,1.00,4,0.00,0.00</string>
          </dict>
          <key>i1858</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>436.10,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00||440.35,256.95,0.00,0.53094,0.53094,1.00,4,0.00,0.00|441.85,255.40,0.00,0.34763,0.34763,1.00,4,0.00,0.00|null||||||||||||||||||||||||</string>
          </dict>
          <key>i1868</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||||||||||||430.65,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|433.20,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|373.35,260.95,0.00,1.00000,1.00000,1.00,5,0.00,0.00||387.35,260.95,0.00,1.00000,1.00000,1.00,5,0.00,0.00|393.35,260.95,0.00,1.00000,1.00000,1.00,5,0.00,0.00|397.55,260.95,0.00,1.00000,1.00000,1.00,5,0.00,0.00|400.35,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|402.75,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|404.10,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|405.00,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|415.20,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|422.55,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|427.05,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|null||</string>
          </dict>
          <key>i1864</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||||443.95,254.00,0.00,0.17804,0.17804,1.00,3,0.00,0.00|null|||||||||||||||||||||||</string>
          </dict>
          <key>i1872</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||||||||||||||405.10,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00||419.10,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|425.10,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|429.30,260.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00|432.10,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|434.20,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|435.55,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|436.30,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|438.90,258.55,0.00,0.71515,0.71515,1.00,3,0.00,0.00|441.05,256.30,0.00,0.44208,0.44208,1.00,3,0.00,0.00|442.15,255.15,0.00,0.30441,0.30441,1.00,3,0.00,0.00|399.25,260.90,0.00,0.99857,0.99857,1.00,5,0.00,0.00|401.80,260.90,0.00,0.99857,0.99857,1.00,5,0.00,0.00|403.60,260.90,0.00,0.99857,0.99857,1.00,5,0.00,0.00</string>
          </dict>
          <key>i1882</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||430.65,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|433.20,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00|435.00,260.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i1862</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>null||378.10,256.40,0.00,0.45453,0.45453,1.00,6,0.00,0.00|376.50,258.00,0.00,0.64734,0.64734,1.00,6,0.00,0.00|375.10,259.30,0.00,0.80618,0.80618,1.00,6,0.00,0.00|374.10,260.10,0.00,0.90073,0.90073,1.00,5,0.00,0.00|373.90,260.60,0.00,0.96227,0.96227,1.00,5,0.00,0.00|373.60,260.90,0.00,0.99857,0.99857,1.00,5,0.00,0.00||383.80,260.90,0.00,0.99857,0.99857,1.00,6,0.00,0.00|391.15,260.90,0.00,0.99857,0.99857,1.00,6,0.00,0.00|395.65,260.90,0.00,0.99857,0.99857,1.00,6,0.00,0.00|null||||||||||||||||</string>
          </dict>
          <key>i1876</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>null||||||||||||||||378.10,256.40,0.00,0.45453,0.45453,1.00,6,0.00,0.00|376.50,258.00,0.00,0.64734,0.64734,1.00,6,0.00,0.00|375.10,259.30,0.00,0.80618,0.80618,1.00,6,0.00,0.00|374.10,260.10,0.00,0.90073,0.90073,1.00,5,0.00,0.00|373.90,260.60,0.00,0.96227,0.96227,1.00,5,0.00,0.00|373.60,260.90,0.00,0.99857,0.99857,1.00,5,0.00,0.00||383.80,260.90,0.00,0.99857,0.99857,1.00,6,0.00,0.00|391.15,260.90,0.00,0.99857,0.99857,1.00,6,0.00,0.00|395.65,260.90,0.00,0.99857,0.99857,1.00,6,0.00,0.00|null||</string>
          </dict>
        </dict>
      </dict>
      <key>loadingTextSymbol</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,471.65,59.05</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>text</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,59.05,0.00,1.45128,1.45128,1.00,0,0.00,0.00,PetitaBold,22,#FFFFFF,center,472,59</string>
            <key>text</key>
            <string>Loading....Please wait</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>