<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GYMNE_bg_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,195},{801,602}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{799,600}</string>
      </dict>
      <key>GYMNE_bg_000001</key>
      <dict>
        <key>frame</key>
        <string>{{801,365},{317,85}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{315,83}</string>
      </dict>
      <key>GYMNE_bg_000002</key>
      <dict>
        <key>frame</key>
        <string>{{794,1191},{317,85}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{315,83}</string>
      </dict>
      <key>GYMNE_bg_000003</key>
      <dict>
        <key>frame</key>
        <string>{{801,280},{317,85}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{315,83}</string>
      </dict>
      <key>GYMNE_bg_000004</key>
      <dict>
        <key>frame</key>
        <string>{{801,195},{317,85}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{315,83}</string>
      </dict>
      <key>GYMNE_bg_000005</key>
      <dict>
        <key>frame</key>
        <string>{{801,450},{256,305}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{254,303}</string>
      </dict>
      <key>GYMNE_bg_000006</key>
      <dict>
        <key>frame</key>
        <string>{{0,1276},{18,18}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>GYMNE_bg_000007</key>
      <dict>
        <key>frame</key>
        <string>{{794,797},{736,197}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{734,195}</string>
      </dict>
      <key>GYMNE_bg_000008</key>
      <dict>
        <key>frame</key>
        <string>{{794,994},{736,197}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{734,195}</string>
      </dict>
      <key>GYMNE_bg_000009</key>
      <dict>
        <key>frame</key>
        <string>{{0,797},{794,444}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{792,442}</string>
      </dict>
      <key>GYMNE_bg_000010</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{840,195}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{838,193}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.22</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>BUZHC_bg.png</string>
      <key>size</key>
      <string>{1540,1302}</string>
      <key>textureFileName</key>
      <string>BUZHC_bg.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a356</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5150187734668336</real>
        <key>anchorY</key>
        <real>0.4923333333333333</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a490</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5001587301587302</real>
        <key>anchorY</key>
        <real>0.5018072289156627</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a4901</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5001587301587302</real>
        <key>anchorY</key>
        <real>0.5018072289156627</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a4902</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5001587301587302</real>
        <key>anchorY</key>
        <real>0.5018072289156627</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a4903</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5001587301587302</real>
        <key>anchorY</key>
        <real>0.5018072289156627</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a491</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.4950787401574803</real>
        <key>anchorY</key>
        <real>0.5077557755775577</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a492</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5</real>
        <key>anchorY</key>
        <real>0.5</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a4931</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.6161444141689373</real>
        <key>anchorY</key>
        <real>0.5012820512820513</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a4932</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.6161444141689373</real>
        <key>anchorY</key>
        <real>0.5012820512820513</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>sky2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.08787878787878788</real>
        <key>anchorY</key>
        <real>1.01131221719457</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>sky31</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.00005966587112171838</real>
        <key>anchorY</key>
        <real>1</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>background</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,799.35,599.95</string>
        <key>anchorX</key>
        <real>0.5167323450303372</real>
        <key>anchorY</key>
        <real>0.4897074756229687</real>
        <key>children</key>
        <dict>
          <key>skies</key>
          <dict>
            <key>class</key>
            <string>skies</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>383.80,293.80,0.00,1,1,1.00,0,0,0</string>
          </dict>
          <key>instance24467625</key>
          <dict>
            <key>class</key>
            <string>a356</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>411.50,295.35,0.00,1,1,1.00,1,0,0</string>
          </dict>
        </dict>
      </dict>
      <key>skies</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>4</integer>
        <key>rect</key>
        <string>0,0,776.80,459.90</string>
        <key>anchorX</key>
        <real>0.4814624098867147</real>
        <key>anchorY</key>
        <real>0.33583387692976735</real>
        <key>children</key>
        <dict>
          <key>instance24521206</key>
          <dict>
            <key>class</key>
            <string>sky3</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||1.65,459.90,0.00,0.8913421630859375,0.891265869140625,1.00,0,0,0|null</string>
          </dict>
          <key>instance24521176</key>
          <dict>
            <key>class</key>
            <string>sky1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>178.80,409.20,0.00,1,1,1.00,0,0,0|null||</string>
          </dict>
          <key>instance24521185</key>
          <dict>
            <key>class</key>
            <string>sky2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|-15.80,410.55,0.00,0.9195556640625,0.9194793701171875,1.00,0,0,0|null|</string>
          </dict>
          <key>instance24521233</key>
          <dict>
            <key>class</key>
            <string>sky4</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||129.80,377.95,0.00,1,1,1.00,0,0,0</string>
          </dict>
        </dict>
      </dict>
      <key>sky1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,520.10,328.45</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>1</real>
        <key>children</key>
        <dict>
          <key>instance24467688</key>
          <dict>
            <key>class</key>
            <string>a4901</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>400.55,158.10,-173.73,0.7429683632215361,0.7083219965633518,1.00,2,6.269041621890879,-173.73088914984828</string>
          </dict>
          <key>instance24467684</key>
          <dict>
            <key>class</key>
            <string>a4903</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>160.75,272.15,-5.53,0.999676097347681,0.999676097347681,1.00,0,-5.528719512805259,-5.528719512805259</string>
          </dict>
          <key>instance24467686</key>
          <dict>
            <key>class</key>
            <string>a490</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>220.60,59.95,-3.55,1.090705394454586,1.1927230664455368,1.00,1,-3.55365567219977,-3.5539844426344818</string>
          </dict>
          <key>instance24467690</key>
          <dict>
            <key>class</key>
            <string>a4902</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>119.95,168.15,-8.09,0.6490330546444596,0.7097526078035608,1.00,3,-8.085158485444364,-8.087430752662414</string>
          </dict>
        </dict>
      </dict>
      <key>sky3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,863.80,441.45</string>
        <key>anchorX</key>
        <real>0.0021416994674693214</real>
        <key>anchorY</key>
        <real>1</real>
        <key>children</key>
        <dict>
          <key>instance24467716</key>
          <dict>
            <key>class</key>
            <string>sky31</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>1.85,441.45,0.00,1,1,1.00,0,0,0</string>
          </dict>
          <key>instance24467729</key>
          <dict>
            <key>class</key>
            <string>sky31</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>-0.05,0.00,0.00,1,1,1.00,1,-180,0</string>
          </dict>
        </dict>
      </dict>
      <key>sky4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,575.55,376.35</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>1</real>
        <key>children</key>
        <dict>
          <key>instance24467784</key>
          <dict>
            <key>class</key>
            <string>a4931</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>254.90,74.35,176.06,0.6702251375242444,0.6507906744850993,1.00,9,14.150931968146901,176.0588075464014</string>
          </dict>
          <key>instance24467790</key>
          <dict>
            <key>class</key>
            <string>a492</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>268.70,322.40,0.00,0.6875,0.6875,1.00,12,0,0</string>
          </dict>
          <key>instance24467786</key>
          <dict>
            <key>class</key>
            <string>a492</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>111.15,283.90,0.00,1,1,1.00,10,0,0</string>
          </dict>
          <key>instance24467788</key>
          <dict>
            <key>class</key>
            <string>a492</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>544.70,179.35,0.00,0.6875,0.6875,1.00,11,0,0</string>
          </dict>
          <key>instance24467766</key>
          <dict>
            <key>class</key>
            <string>a491</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>330.75,291.25,15.00,0.33417024654828714,0.33417024654828714,1.00,0,14.999501617984762,14.999501617984762</string>
          </dict>
          <key>instance24467768</key>
          <dict>
            <key>class</key>
            <string>a492</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>171.15,219.90,0.00,1,1,1.00,1,0,0</string>
          </dict>
          <key>instance24467770</key>
          <dict>
            <key>class</key>
            <string>a492</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>259.15,202.85,0.00,0.6875,0.6875,1.00,2,0,0</string>
          </dict>
          <key>instance24467772</key>
          <dict>
            <key>class</key>
            <string>a492</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>391.70,368.35,0.00,1,1,1.00,3,0,0</string>
          </dict>
          <key>instance24467774</key>
          <dict>
            <key>class</key>
            <string>a492</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>442.70,257.35,0.00,0.6875,0.6875,1.00,4,0,0</string>
          </dict>
          <key>instance24467776</key>
          <dict>
            <key>class</key>
            <string>a492</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>382.70,198.35,0.00,0.6875,0.6875,1.00,5,0,0</string>
          </dict>
          <key>instance24467778</key>
          <dict>
            <key>class</key>
            <string>a4932</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>353.80,101.70,3.05,0.7740913000517525,0.8147527090256959,1.00,6,3.049953694667883,3.049709625486295</string>
          </dict>
          <key>instance24467780</key>
          <dict>
            <key>class</key>
            <string>a492</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>530.75,283.40,0.00,0.6875,0.6875,1.00,7,0,0</string>
          </dict>
          <key>instance24467782</key>
          <dict>
            <key>class</key>
            <string>a492</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>124.65,139.35,0.00,0.6875,0.6875,1.00,8,0,0</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>